@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  :root {
    --background: 267 65% 11%;
    --foreground: 0 0% 100%;
    --card: 268 65% 17%;
    --card-foreground: 0 0% 100%;
    --popover: 268 65% 17%;
    --popover-foreground: 0 0% 100%;
    --primary: 333 77% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 268 65% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 268 65% 17%;
    --muted-foreground: 261 46% 85%;
    --accent: 199 93% 64%;
    --accent-foreground: 267 65% 11%;
    --destructive: 342 79% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 268 65% 17%;
    --input: 268 65% 17%;
    --ring: 333 77% 42%;
    --chart-1: 333 77% 42%;
    --chart-2: 199 93% 64%;
    --chart-3: 168 100% 62%;
    --chart-4: 261 100% 77%;
    --chart-5: 342 79% 56%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .mix-blend-screen-plus {
    mix-blend-mode: plus-lighter;
  }
}
